<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/about-me.css">
    <link rel="stylesheet" href="../css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-me</title>
</head>
<body>
    <section class="section" id="about-me-section">
        <div class="container">
            <div class="title-container">
                <div class="text-container">
                    <h1 class="title-about-me">I work with people all over the world to create impressive and <span id="functional-span"> FUNCTIONAL </span><span id="website-span"> WEBSITE </span>that reflect each client's unique personality.</h1>
                </div>
                <div class="image-container">
                    <picture>
                        <source
                          srcset="
                          ../img/about-me/about-me-pc-1x.jpg   1x,
                          ../img/about-me/about-me-pc-2x.jpg 2x
                          "
                          media="(min-width: 1280px)"
                        />
                        <source
                          srcset="
                          ../img/about-me/about-me-tablet-1x.jpg   1x,
                          ../img/about-me/about-me-tablet-2x.jpg 2x
                          "
                          media="(min-width: 768px)"
                        />
                        <source
                          srcset="
                          ../img/about-me/about-me-phone-1x.jpg   1x,
                          ../img/about-me/about-me-phone-2x.jpg 2x
                          "
                          media="(max-width: 767px)"
                        />
                        <img
                          src="../img/about-me/about-me-phone-1x.jpg"
                          alt="Beautiful men"
                          class="about-me-image"
                        />
                      </picture>
                </div>
            </div>
            <div class="accordion-div">
                <ul class="accordion-container about-me-accordion-list">
                    <li class="ac" id="about-me-item-accordion">
                        <div class="ac-trigger" id="about-me-subtitle-container" >
                            <h3 class="ac-header about-me-subtitle" id="about-me-subtitle">
                                About me
                            </h3>
                            <svg class="about-me-icon" width="20" height="20">
                                    <use href="/img/sprite.svg#icon-up-arr"></use>
                            </svg>
                        </div>

                        <div class="ac-panel" id="about-me-answer">

                            <p class="ac-text" id="about-me-text-pad">
                                I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming 
                                languages ​​and technologies, always ready to improve my skills. I always follow the latest trends
                                 and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.
                            </p>

                            <p class="ac-text" id="about-me-text-pad">
                                Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional
                                 maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities 
                                 for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming 
                                 languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
                            </p>

                        </div>
                    </li>
                    <li class="ac" id="about-me-item-accordion">
                        <div class="ac-trigger" id="about-me-subtitle-container" >
                            <h3 class="ac-header about-me-subtitle" id="about-me-subtitle">
                                Role
                            </h3>
                            <svg class="about-me-icon" width="20" height="20">
                                <use href="../img/sprite.svg#icon-up-arr"></use>
                            </svg>
                        </div>
                          <div class="ac-panel" id="about-me-answer">
                            <p class="ac-text" id="about-me-text-pad">Frontend development</p>
                            <p class="ac-text" id="about-me-text-pad">HeadlessCMS,Wordpress</p>
                            <p class="ac-text" id="about-me-text-pad">Blender(enjoy)</p>
                        </div>
                    </li>
                    <li class="ac" id="about-me-item-accordion">
                        <div class="ac-trigger" id="about-me-subtitle-container" >
                            <h3 class="ac-header about-me-subtitle" id="about-me-subtitle">
                                EDUCATION
                            </h3>
                        <svg class="about-me-icon" width="20" height="20">
                            <use href="/img/sprite.svg#icon-up-arr"></use>
                          </svg>
                        </div>
                          <div class="ac-panel" id="about-me-answer">
                            <p class="ac-text" id="about-me-text-pad">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</p>
                            <p class="ac-text" id="about-me-text-pad">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
                            <p class="ac-text" id="about-me-text-pad">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                        </div>
                    </li>
                </ul>
                
            </div>
            <div class="swiper-container container-swipper-about-me">
                <div class="swiper-wrapper about-me-buttons-container">
                    <div class="swiper-slide item-about-me-buttons active" id="html-css-button">
                        <p class="title-about-me-items">HTML/CSS</p>
                    </div>
                    <div class="swiper-slide item-about-me-buttons" id="javascript-button">
                        <p class="title-about-me-items">JavaScript</p>
                    </div>
                    <div class="swiper-slide item-about-me-buttons" id="react-button">
                        <p class="title-about-me-items">React</p>
                    </div>
                    <div class="swiper-slide item-about-me-buttons" id="node-js-button">
                        <p class="title-about-me-items">Node.js</p>
                    </div>
                    <div class="swiper-slide item-about-me-buttons" id="react-native-button">
                        <p class="title-about-me-items">React Native</p>
                    </div>
                    <div class="swiper-slide item-about-me-buttons" id="soft-skills-button">
                        <p class="title-about-me-items">Soft skills</p>
                    </div>
                </div>
            
                <!-- Кнопка має бути тут -->
                <div class="about-me-button-next">
                    <svg class="about-me-icon-swipper" width="40" height="40">
                        <use href="/img/sprite.svg#icon-right-arr"></use>
                    </svg>
                </div>
            </div>
        </div>
    </section>
</body>
</html>