<!-- <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet"> -->
<!-- <section id="covers" class="section"> -->
<h2 class="visually-hidden">Covers</h2>
<div class="content">
  <div class="marquee">


  <ul class="marquee__inner">
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 1-min.jpg" />
    </li>
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 4-min.jpg" />
    </li>
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 5-min.jpg" />
    </li>
   
   
  </ul>


    <ul class="marquee__inner">
     <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 6-min.jpg" />
    </li>
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 7-min.jpg" />
    </li>
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 8-min.jpg" />
    </li> 

  </ul>


      <ul class="marquee__inner">
     <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 9-min.jpg" />
    </li>
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 10-min.jpg" />
    </li>
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 11-min.jpg" />
    </li>
    <li class="marquee__line">
        <img class="running-img" src="../img/covers/Rectangle 12-min.jpg" />
    </li>
  </ul>
</div>  
</div>
</section>