<section id="covers" class="section covers-section">
  <h2 class="visually-hidden">Covers</h2>
  <div class="content">
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-1-min-big.png    1x,
                /img/covers/Rectangle-1-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
              width="282"
              height="162"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-1-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-4-min-big.png    1x,
                /img/covers/Rectangle-4-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-4-min-mob.png 1x,
                /img/covers/Rectangle-4-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-4-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-7-min-big.png    1x,
                /img/covers/Rectangle-7-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-7-min-mob.png 1x,
                /img/covers/Rectangle-7-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-7-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-6-min-big.png    1x,
                /img/covers/Rectangle-6-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-8-min-mob.png 1x,
                /img/covers/Rectangle-8-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-6-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-6-min-big.png    1x,
                /img/covers/Rectangle-6-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-8-min-mob.png 1x,
                /img/covers/Rectangle-8-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-6-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-11-min-big.png    1x,
                /img/covers/Rectangle-11-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-11-min-mob.png 1x,
                /img/covers/Rectangle-11-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-11-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-1-min-big.png    1x,
                /img/covers/Rectangle-1-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-1-min-big.png"
              alt="project"
            />
          </picture>
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-12-min-big.png    1x,
                /img/covers/Rectangle-12-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-12-min-mob.png 1x,
                /img/covers/Rectangle-12-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-12-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-5-min-big.png    1x,
                /img/covers/Rectangle-5-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-5-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-10-min-big.png    1x,
                /img/covers/Rectangle-10-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-12-min-mob.png 1x,
                /img/covers/Rectangle-12-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-10-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-7-min-big.png    1x,
                /img/covers/Rectangle-7-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-7-min-mob.png 1x,
                /img/covers/Rectangle-7-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-7-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-12-min-big.png    1x,
                /img/covers/Rectangle-12-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-12-min-mob.png 1x,
                /img/covers/Rectangle-12-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-12-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-11-min-big.png    1x,
                /img/covers/Rectangle-11-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-11-min-mob.png 1x,
                /img/covers/Rectangle-11-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-11-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-6-min-big.png    1x,
                /img/covers/Rectangle-6-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-6-min-big.png"
              alt="project"
            />
          </picture>
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-6-min-big.png    1x,
                /img/covers/Rectangle-6-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-8-min-mob.png 1x,
                /img/covers/Rectangle-8-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-6-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-11-min-big.png    1x,
                /img/covers/Rectangle-11-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-11-min-mob.png 1x,
                /img/covers/Rectangle-11-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-11-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-1-min-big.png    1x,
                /img/covers/Rectangle-1-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-1-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-8-min-big.png    1x,
                /img/covers/Rectangle-8-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-8-min-mob.png 1x,
                /img/covers/Rectangle-8-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-8-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-9-min-big.png    1x,
                /img/covers/Rectangle-9-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-9-min-mob.png 1x,
                /img/covers/Rectangle-9-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-9-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-4-min-big.png    1x,
                /img/covers/Rectangle-4-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-4-min-mob.png 1x,
                /img/covers/Rectangle-4-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-4-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-5-min-big.png    1x,
                /img/covers/Rectangle-5-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-7-min-mob.png 1x,
                /img/covers/Rectangle-7-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-5-min-big.png"
              alt="project"
            />
          </picture>
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-7-min-big.png    1x,
                /img/covers/Rectangle-7-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-7-min-mob.png 1x,
                /img/covers/Rectangle-7-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-7-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-9-min-big.png    1x,
                /img/covers/Rectangle-9-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-9-min-mob.png 1x,
                /img/covers/Rectangle-9-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-9-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-4-min-big.png    1x,
                /img/covers/Rectangle-4-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-4-min-mob.png 1x,
                /img/covers/Rectangle-4-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-4-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-5-min-big.png    1x,
                /img/covers/Rectangle-5-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-7-min-mob.png 1x,
                /img/covers/Rectangle-7-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-5-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-6-min-big.png    1x,
                /img/covers/Rectangle-6-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-8-min-mob.png 1x,
                /img/covers/Rectangle-8-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-6-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-11-min-big.png    1x,
                /img/covers/Rectangle-11-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-11-min-mob.png 1x,
                /img/covers/Rectangle-11-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-11-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-1-min-big.png    1x,
                /img/covers/Rectangle-1-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-1-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-8-min-big.png    1x,
                /img/covers/Rectangle-8-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-8-min-mob.png 1x,
                /img/covers/Rectangle-8-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-8-min-big.png"
              alt="project"
            />
          </picture>
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-1-min-big.png    1x,
                /img/covers/Rectangle-1-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-1-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-12-min-big.png    1x,
                /img/covers/Rectangle-12-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-12-min-mob.png 1x,
                /img/covers/Rectangle-12-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-12-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-7-min-big.png    1x,
                /img/covers/Rectangle-7-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-7-min-mob.png 1x,
                /img/covers/Rectangle-7-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-7-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-12-min-big.png    1x,
                /img/covers/Rectangle-12-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-12-min-mob.png 1x,
                /img/covers/Rectangle-12-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-12-min-big.png"
              alt="project"
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="
                /img/covers/Rectangle-5-min-big.png    1x,
                /img/covers/Rectangle-5-min-big-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/covers/Rectangle-1-min-mob.png 1x,
                /img/covers/Rectangle-1-min-mob.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="running-img"
              src="/img/covers/Rectangle-5-min-big.png"
              alt="project"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
