<section id="covers" class="section covers-section">
    <div class="container covers-container">
<h2 class="visually-hidden">Covers</h2>
<div class="content">
  <div class="marquee">

<!-- 1111111111 -->
  <ul class="marquee__inner first-line">
    
    <li class="marquee__line ">
        <picture>
            <source srcset="../img/covers/Rectangle-6-min-big.png 1x, ../img/covers/Rectangle-6-min-big-2x.png 2x"
            media="(min-width: 1440px)"
            />
            <source srcset="../img/covers/Rectangle-6-min-big.png 1x, ../img/covers/Rectangle-6-min-big-2x.png 2x"
            media="(min-width: 768px)" />
           
        <!-- <img class="running-img" src="../img/covers/Rectangle 6-min.jpg" alt="woman-project" />немає в моб версії-->

        </picture>
    </li>
    
   
   
  </ul>

<!-- 222222222222222222 -->
    <ul class="marquee__inner second-line">
     <li class="marquee__line">
        <picture>
            <source srcset="../img/covers/Rectangle-10-min-big.png 1x, ../img/covers/Rectangle-10-min-big-2x.png 2x" 
            media="(min-width: 1440px)"
            />
            <source srcset="../img/covers/Rectangle-10-min-big.png 1x, ../img/covers/Rectangle-10-min-big-2x.png 2x" 
            media="(min-width: 768px)" 
            />
            <source src="../img/covers/Rectangle-10-min-mob.png 1x, ../img/covers/Rectangle-10-min-mob-2x.png 2x"
            media="(max-width: 767px)"
            />

        <img class="running-img" src="../img/covers/Rectangle-10-min-mob.png" alt="woman-in-gym-project"/>

        </picture>
    </li>
    <li class="marquee__line">
        <picture> 
             <source srcset="../img/covers/Rectangle-7-min-big.png 1x, ../img/covers/Rectangle-7-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-7-min-big.png 1x, ../img/covers/Rectangle-7-min-big-2x.png 2x"
              media="(min-width: 768px)"
              />
              <source srcset="../img/covers/Rectangle-7-min-mob.png 1x, ../img/covers/Rectangle-7-min-mob-2x.png 2x"
              media="(max-width: 767px)" 
              />
        <img class="running-img" src="../img/covers/Rectangle-7-min-mob.png" alt="architect-project"/>

        </picture>
    </li>
    
  </ul>

<!-- 3333333333333 -->
      <ul class="marquee__inner third-line">
     <li class="marquee__line">
        <picture> 
 <source srcset="../img/covers/Rectangle-11-min-big.png 1x, ../img/covers/Rectangle-11-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-11-min-big.png 1x, ../img/covers/Rectangle-11-min-big-2x.png 2x"
              media="(min-width: 768px)"
              />
              <source srcset="../img/covers/Rectangle-11-min-mob.png 1x, ../img/covers/Rectangle-11-min-mob-2x.png 2x"
              media="(max-width: 767px)" 
              />
            <img class="running-img" src="../img/covers/Rectangle-11-min-mob.png" alt="couple=project" />
        </picture>
    </li>
    <li class="marquee__line">
        <picture>
 <source srcset="../img/covers/Rectangle-1-min-big.png 1x, ../img/covers/Rectangle-1-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-1-min-big.png 1x, ../img/covers/Rectangle-1-min-big-2x.png 2x"
              media="(min-width: 768px)"
              />
              <source srcset="../img/covers/Rectangle-1-min-mob.png 1x, ../img/covers/Rectangle-1-min-mob-2x.png 2x"
              media="(max-width: 767px)" 
              />
            <img class="running-img" src="../img/covers/Rectangle-1-min-mob.png" alt="watch-project" />
        </picture>
    </li>
    <li class="marquee__line">
        <picture>
 <source srcset="../img/covers/Rectangle-8-min-big.png 1x, ../img/covers/Rectangle-8-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-8-min-big.png 1x, ../img/covers/Rectangle-8-min-big-2x.png 2x"
              media="(min-width: 768px)"
              />
              <source srcset="../img/covers/Rectangle-8-min-mob.png 1x, ../img/covers/Rectangle-8-min-mob-2x.png 2x"
              media="(max-width: 767px)" 
              />
            <img class="running-img" src="../img/covers/Rectangle-8-min-mob.png" alt ="culture-project"/>
        </picture>
    </li>
    

    
  </ul>
  <!-- 444444444 -->
   <ul class="marquee__inner forth-line">
    <li class="marquee__line">
        <picture>
 <source srcset="../img/covers/Rectangle-9-min-big.png 1x, ../img/covers/Rectangle-9-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-9-min-big.png 1x, ../img/covers/Rectangle-9-min-big-2x.png 2x"
              media="(min-width: 768px)"
              />
              <source srcset="../img/covers/Rectangle-9-min-mob.png 1x, ../img/covers/Rectangle-9-min-mob-2x.png 2x"
              media="(max-width: 767px)" 
              />
            <img class="running-img" src="../img/covers/Rectangle-9-min-mob.png" alt="organic-project" />
        </picture>
    </li>
    <li class="marquee__line">
        <picture>
 <source srcset="../img/covers/Rectangle-4-min-big.png 1x, ../img/covers/Rectangle-4-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-4-min-big.png 1x, ../img/covers/Rectangle-4-min-big-2x.png 2x"
              media="(min-width: 768px)"
              />
              <source srcset="../img/covers/Rectangle-4-min-mob.png 1x, ../img/covers/Rectangle-4-min-mob-2x.png 2x"
              media="(max-width: 767px)" 
              />
            <img class="running-img" src="../img/covers/Rectangle-4-min-mob.png" alt="fitness-project" />
        </picture>
    </li>
    <li class="marquee__line">
        <picture>
 <source srcset="../img/covers/Rectangle-5-min-big.png 1x, ../img/covers/Rectangle-5-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-5-min-big.png 1x, ../img/covers/Rectangle-5-min-big-2x.png 2x"
              media="min-width: 768px"
              />
              <!-- <source srcset="../img/covers/Rectangle 9-min-mob.png 1x, ../img/covers/Rectangle 9-min-mob-2x.png 2x"
              media="max-width: 767px" 
              />
            <img class="running-img" src="../img/covers/Rectangle -min-mob.png" alt="fruitbox-project" /> немає в моб версії-->
        </picture>
    </li>
   </ul>
   <!-- 5555 -->
    <ul class="marquee__inner fifth-line">
<li class="marquee__line">
    <picture>
         <source srcset="../img/covers/Rectangle-12-min-big.png 1x, ../img/covers/Rectangle-12-min-big-2x.png 2x"
              media="(min-width: 1440px)"
              />
              <source srcset="../img/covers/Rectangle-12-min-big.png 1x, ../img/covers/Rectangle-12-min-big-2x.png 2x"
              media="(min-width: 768px)"
              />
              <source srcset="../img/covers/Rectangle-12-min-mob.png 1x, ../img/covers/Rectangle-12-min-mob-2x.png 2x"
              media="(max-width: 767px)" 
              />
        <img class="running-img" src="../img/covers/Rectangle-12-min-mob.png" alt="study-project" />
    </picture>
    </li>
    </ul>
</div>  
</div>
</div>
</section>