<footer id="footer" class="footer section">
  <div class="container">
    <div class="heading-container">
      <div class="heading-first-part-container">
        <picture>
          <source
            srcset="
              /img/jefferson-tab-1x.webp 1x,
              /img/jefferson-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/jefferson-mob-1x.webp 1x,
              /img/jefferson-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/jefferson-tab-1x.webp"
            alt="A photo of Lloyd Jefferson"
            class="footer-img"
          />
        </picture>
        <h2 class="footer-heading">
          Let&#8217;s <span class="footer-heading-accent">work</span>
          <span class="visually-hidden">together</span>
        </h2>
      </div>
      <p class="heading-second-part">together</p>
    </div>
    <form class="footer-form">
      <div class="form-input-container">
        <input
          type="email"
          name="user-email"
          class="form-input"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          placeholder="clients@gmail.com"
          required
        />
        <input
          type="text"
          name="user-comment"
          class="form-input"
          placeholder="comments"
          required
        />
      </div>
      <button type="submit" class="form-btn">Send</button>
    </form>
    <div class="contact-links-container">
      <a href="mailto:lloydjefferson@gmail.com" class="contact-link"
        >lloydjefferson@gmail.com</a
      >
      <a href="tel:+3801111111111" class="contact-link">+380 11 1111 11 11</a>
    </div>
  </div>
</footer>
