<section class="hero">
    <div class="container">
        <h1 class="hero-title"><br></h1>
    </div>

    <div class="hero-contacts">
        <ul class="social-links">
            <li><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
            <li><a href="https://www.facebook.com/goITclub/" target="_blank">FB</a></li>
            <li><a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a></li>
            <li><a href="#github" target="_blank">GH</a></li>
        </ul>
        <a href="mailto:lloydjefferson@gmail.com" class="email-link">lloydjefferson@gmail.com</a>
    </div>
</section>