<section class="section section-projects" id="projects">
  <div class="container">
    <h2 class="project-field">Projects</h2>
    <div class="proj-swiper">
      <div class="swiper-wrapper projects-wrapper">
        <div class="swiper-slide projects-slide">
          <div class="swiper-slide-part-one">
            <ul class="tech-pack">
              <li class="tech-pack-item">#react</li>
              <li class="tech-pack-item">#js</li>
              <li class="tech-pack-item">#node js</li>
              <li class="tech-pack-item">#git</li>
            </ul>
            <p class="project-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/konstabash/project-DragonScript"
              target="_blank"
            >
              <button type="button" class="project-button">
                See project
              </button></a
            >
          </div>

          <div class="swiper-slide-part-two">
            <picture>
              <source
                srcset="
                  ./img/projects/phone-desk-min.png    1x,
                  ./img/projects/phone-desk-2x-min.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/phone-tab-min.png    1x,
                  ./img/projects/phone-tab-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/projects/phone-mob-min.png 1x,  
              ./img/projects/phone 2x-mob-min.png 2x"
                media="(max-width: 767px)"
              />
              <img
                class="project-card"
                src="./img/projects/phone-mob-min.png"
                alt="project-one"
              />
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-part-one">
            <ul class="tech-pack">
              <li class="tech-pack-item">#react</li>
              <li class="tech-pack-item">#js</li>
              <li class="tech-pack-item">#node js</li>
              <li class="tech-pack-item">#git</li>
            </ul>
            <p class="project-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/konstabash/project-DragonScript"
              target="_blank"
            >
              <button type="button" class="project-button">
                See project
              </button></a
            >
          </div>

          <div class="swiper-slide-part-two">
            <picture>
              <source
                srcset="
                  ./img/projects/pet-desk-min.jpg    1x,
                  ./img/projects/pet-desk-2x-min.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/pet-tab-min.jpg    1x,
                  ./img/projects/pet-tab-2x-min.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/projects/pet-mob-min.jpg 1x,  
              ./img/projects/pet 2x-mob-min.jpg 2x"
                media="(max-width: 767px)"
              />
              <img
                class="project-card"
                src="./img/projects/pet-mob-min.jpg"
                alt="project-two"
              />
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-part-one">
            <ul class="tech-pack">
              <li class="tech-pack-item">#react</li>
              <li class="tech-pack-item">#js</li>
              <li class="tech-pack-item">#node js</li>
              <li class="tech-pack-item">#git</li>
            </ul>
            <p class="project-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/konstabash/project-DragonScript"
              target="_blank"
            >
              <button type="button" class="project-button">
                See project
              </button></a
            >
          </div>

          <div class="swiper-slide-part-two">
            <picture>
              <source
                srcset="
                  ./img/projects/form-desk-min.jpg    1x,
                  ./img/projects/form-desk-2x-min.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/form-tab-min.jpg    1x,
                  ./img/projects/form-tab-2x-min.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/form-min-mob.jpg    1x,
                  ./img/projects/form-2x-mob-min.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="project-card"
                src="./img/projects/form-min-mob.jpg"
                alt="project-three"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="button-box">
        <button type="button" class="press-button previous-arrow-btn">
          <svg class="icon-left-arr" width="24" height="24">
            <use href="./img/sprite.svg#icon-left-arr"></use>
          </svg>
        </button>
        <button type="button" class="press-button next-arrow-btn">
          <svg class="icon-right-arr" width="24" height="24">
            <use href="./img/sprite.svg#icon-right-arr"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
