<section class="section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>

    <div class="reviews-swiper swiper">
      <ul class="reviews-swiper-wrapper swiper-wrapper"></ul>

      <div class="reviews-navigation">
        <div class="reviews-prev-btn previous-arrow-btn">
          <svg class="reviews-icon-arr icon-arr" width="24" height="24">
            <use href="/img/sprite.svg#icon-left-arr"></use>
          </svg>
        </div>

        <div class="reviews-next-btn next-arrow-btn">
          <svg class="reviews-icon-arr icon-arr" width="24" height="24">
            <use href="/img/sprite.svg#icon-right-arr"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
