/* body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.covers-section {
   overflow: hidden;
}
.covers-container {


}
.content {
    background-image: url('../img/covers/elements_vectors.png');  
    background-size: cover;  
    background-repeat: no-repeat;   
     background-position: center;
    transform: translateY(-400px);
    
    
}
.marquee {

  overflow: hidden;
  max-height: 508px;

  
}

.marquee__inner {
     
    display: flex;
   row-gap: 10px;
   column-gap: 20px;
   transform: rotate(16deg);
   padding: 25px;
   

}
.first-line {
  justify-content: flex-end;
}
.second-line {
  justify-content: flex-end;
}
.third-line {
  justify-content: center;
}
.forth-line {
  justify-content: flex-end;
}
.fifth-line {
  justify-content: flex-start;
}

.marquee__line {
  margin-right: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

     width: 283px;  
  height: 163px; 
  
  
  

}


@keyframes marqueeLine {
  from {
    transform: translateX(100px);
  }
  
  to {
    transform: translateX(-100px);
  }
}

@media screen and (min-width: 768px) {
    
    .marquee {
      max-height: 960px;
    }
    .marquee__line {
      width: 544px;
    height: 314px;
    }
}
@media screen and (min-width: 1440px) {
    
    
} */

.content {
  position: relative;
  height: 960px;
  background-image: url('../img/covers/elements_vectors.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  /* transform: translateY(-400px); */
}
.marquee {
  position: absolute;
  /* top: -500px; */
  /* right: -100px; */
  left: 0;
  overflow: hidden;
  /* height: 100%; */
  transform: translateY(-480px);
}

.marquee__inner {
  /* height: 100vh; */
  display: flex;
  transform: rotate(16deg);
  margin-bottom: 20px;
}

.marquee__line {
  flex-shrink: 0;
  margin-right: 34px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: calc(100% / 8); */
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* @keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
} */

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300px); /* Рівно на три картинки */
  }
}
